spring:
  config:
    activate:
      on-profile: prod
  datasource:
    url: ${POSTGRES_URL:jdbc:postgresql://localhost:5432/security}
    username: ${POSTGRES_USER:postgres}
    password: ${POSTGRES_PASSWORD:12345}
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        show-sql: false
        ddl-auto: update
  data:
    redis:
      host: localhost
      port: 6379
  kafka:
    bootstrap-servers: localhost:29092